.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin: 20px;
}

.bt {
    margin: 10px;
    margin-left: 50px;
    color: --vivid-pink !important;
}

.bt {
    color: oklch(69.02% 0.277 332.77);
}