<div class="modal modal-signin position-static d-block bg-dark py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog container" role="document">
        <div class="modal-content rounded-4 shadow m">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2 click">New Worker</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="close()"></button>
            </div>

            <div class="modal-body p-5 pt-0">

                <form [formGroup]="worker" class="needs-validation">
                    <div class="row g-3">

                        <!-- first name -->
                        <div class="col-sm-6 ">
                            <div class=" form-floating mb-3">
                                <input type="text" formControlName="firstName" class="form-control rounded-3"
                                    id="firstName" placeholder="First Name" required>
                                <label for="firstName"> First Name </label>
                            </div>

                            <ng-container
                                *ngIf="worker.controls['firstName'].errors && worker.controls['firstName'].touched">
                                <div *ngIf="worker.controls['firstName'].errors['required']" class="invalid">
                                    please enter first name.
                                </div>
                            </ng-container>
                        </div>

                        <!--family name  -->
                        <div class="col-sm-6">
                            <div class=" form-floating mb-3">
                                <input type="text" formControlName="lastName" class="form-control rounded-3"
                                    id="lastName" placeholder=" Family Name" required>
                                <label for="lastName"> Family Name </label>
                            </div>
                            <ng-container
                                *ngIf="worker.controls['lastName'].errors && worker.controls['lastName'].touched">
                                <div *ngIf="worker.controls['lastName'].errors['required']" class="invalid">
                                    please enter last name.
                                </div>
                            </ng-container>
                        </div>

                        <!-- identity -->
                        <div class="col-12">
                            <div class="form-floating  mb-3 ">
                                <input type="text" formControlName="identity" class="form-control rounded-3"
                                    id="identity" placeholder="Identity" required>
                                <label for="identity"> Identity</label>
                            </div>
                            <ng-container
                                *ngIf="worker.controls['identity'].errors && worker.controls['identity'].touched">
                                <div *ngIf="worker.controls['identity'].errors['required']" class="invalid">
                                    please enter identity.
                                </div>
                            </ng-container>
                        </div>

                        <!-- email -->
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" formControlName="email" class="form-control rounded-3" id="email"
                                    placeholder="Email Adress">
                                <label for="email">Email Adress </label>
                            </div>
                            <ng-container *ngIf="worker.controls['email'].errors && worker.controls['email'].touched">
                                <div *ngIf="worker.controls['email'].errors['required']" class="invalid">
                                    Adress Email is requieres.
                                </div>
                                <div *ngIf="worker.controls['email'].errors['email']" class="invalid">
                                    Adress Email is not valid.
                                </div>
                            </ng-container>
                        </div>

                        <!-- Adress -->
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" formControlName="address" class="form-control rounded-3" id="address"
                                    placeholder="Address" required>
                                <label for="address">Address</label>
                            </div>
                            <ng-container *ngIf="worker.controls['address']?.errors && worker.controls['address'].touched">
                                <div *ngIf="worker.controls['address'].errors['required']" class="invalid">
                                    please fill the adress input.
                                </div>
                            </ng-container>
                        </div>

                        <!-- date of birth -->
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="date" placeholder="Date of birth" class="form-control rounded-3 "
                                    formControlName="dateOfBirth" id="datOfBirth">
                                <label for="datOfBirth">Date of birth</label>
                            </div>
                            <ng-container
                                *ngIf="worker.controls['dateOfBirth'].errors && worker.controls['dateOfBirth'].touched">
                                <div *ngIf="worker.controls['dateOfBirth'].errors['required'] "
                                    class="invalid">
                                    please fill your date of birth.
                                </div>
                            </ng-container>
                        </div>

                        <!-- gender -->
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <select formControlName="kind" class="form-select rounded-3" id="country"
                                    aria-label="Default select example">
                                    <option value="1">male</option>
                                    <option value="2">female</option>
                                </select>
                                <label for="country">Gender</label>
                            </div>
                            <ng-container *ngIf="worker.controls['kind'].errors && worker.controls['kind'].touched">
                                <div *ngIf="worker.controls['kind'].errors['required']" class="invalid">
                                    please fill your date of birth.
                                </div>
                            </ng-container>
                        </div>

                        <!-- roles -->
                        <div class="col-12" formArrayName="roles">

                            @for(role of roles().controls; track $index){
                            <div class="form-group card c">
                                <div [formGroupName]="$index" class="card-body">
                                    <!-- The repeated roles template -->
                                    <div class="col-10 ">
                                        <div class=" form-floating mb-3">
                                            <select formControlName="roleTypeId" class="form-control rounded-3"
                                                #selectList (change)="pushRole(selectList.value)"
                                                id="role name-{{ $index }}">
                                                <option value=-1>choose role...</option>
                                                @for (rt of rolesType; track $index) {
                                                <option [disabled]="checkRoleExit(rt.id)" value={{$index+1}}
                                                    id="option-{{$index+1}}">{{rt.name}}</option>
                                                }
                                            </select>
                                            <label for="role-{{ $index }}">Role Type </label>
                                        </div>
                                        <ng-container
                                            *ngIf="roles().controls[$index].get('roleTypeId').errors && roles().controls[$index].get('roleTypeId').touched">
                                            <div *ngIf="roles().controls[$index].get('roleTypeId').errors['required']"
                                                class="invalid">
                                                please fill your Role-Type.
                                            </div>
                                        </ng-container>
                                    </div>

                                    <div class="col-10">
                                        <div class="form-floating mb-3">
                                            <input type="date" placeholder="Start Working Date "
                                                class="form-control rounded-3 " formControlName="stratDate"
                                                id="stratDate">
                                            <label for="stratDate">Start Working Date</label>
                                        </div>
                                        <ng-container
                                            *ngIf="roles().controls[$index].get('stratDate').errors && roles().controls[$index].get('stratDate').touched">
                                            <div *ngIf="roles().controls[$index].get('stratDate').errors['required'] ;else wrong"
                                                class="invalid">
                                                please fill your start working date.
                                            </div>
                                            <ng-template #wrong>
                                                <div class="invalid"> Date must be later then today.</div>
                                            </ng-template>
                                        </ng-container>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="menagment"
                                            [value]="true" id="check">
                                        <label class="form-check-label" for="check">
                                            Is the position administrative?
                                        </label>
                                    </div>

                                    <br>
                                    <div class=" d-md-flex justify-content-md-end">
                                        <button class="btn rounded-5 sign  me-md-2"
                                            (click)="removeRole($index)">Remove</button>
                                    </div>

                                </div>
                            </div>}
                            <ng-container *ngIf="roles().controls.length < 1">
                                <div class="invalid">
                                    worker must have at least 1 role.
                                </div>
                            </ng-container>

                        </div>
                        <button class="btn btn-lg rounded-5 sign" (click)="addRole()">Add Role</button>
                    </div>
                    <br>
                    <br>

                    <button class="w-100 mb-2 btn btn-lg rounded-3 sign" type="submit" (click)="save()"
                      >Add worker</button>
                    <!-- <hr class="my-4">
                    <h2 class="fs-5 fw-bold mb-3"> If you have already registered in <button class="notbt"
                            (click)="login()">Click here</button> </h2> -->

                </form>
            </div>
        </div>
    </div>
</div>