.home{
    color: oklch(69.02% 0.277 332.77);
    height: 88vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    flex-direction: column;
}