.search {
    margin-right: 15px;
}

.master{
    color:#918a8a;
}

.h{
    height: 85vh;
}
.bt {
    margin: 10px;
    margin-left: 50px;
    color: --vivid-pink !important;
    color: oklch(69.02% 0.277 332.77);
    border-radius: 7px;
}

