.click{
    color:oklch(69.02% 0.277 332.77);
}
.sign{
    background-color:oklch(69.02% 0.277 332.77);
}
.notbt{
    background-color: transparent !important;
    border: 0px !important;
    color:oklch(69.02% 0.277 332.77);
}
.all{
    height: 100vh;
}